<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>Dungeons and Dragons Database</title>

  </head>

  <body>
    <a href = "/creatures"> Creatures page</a>
    <a href = "/gods"> Gods page</a>
    <a href = "/spells">Spells page</a>

  </body>
  </html>